body {
    margin: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.main-image {
    width: 1495px;
    height: 370px;
    background-image: url(../LocalRepo/images/cst\ mumbai\ image.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.second-part {
    width: 1495px;
    height: 370px;
    background-color: beige;
}

.v1 {
    margin-top: 180px;
    margin-bottom: 0;
    display: inline-block;
    color: white;
    background-color: teal;
    font-size: 20px;
    padding: 6px 6px;
    border-radius: 7px;
}

.v2 {
    display: inline-block;
    color: white;
    background-color: blue;
    margin-top: 6;
    font-size: 20px;
    padding: 6px 6px;
    border-radius: 7px;
}

.activity-line {
    margin-top: 20px;
    display: inline-block;
    font-size: 20px;
    color: darkblue;
}

.places-image {
    width: 185px;
    height: 145px;
    border-radius: 50%;
    display: inline-block;
    margin: 25px;
    margin-left: 20px;
}

.description-line {
    margin: 2px;
}



.hrt4 {
    display: flex;
    justify-content: space-evenly;
}

.third-part {
    display: flex;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 464px;
    height: 275px;
    background-color: skyblue;
    border-bottom: 10px solid teal;
    border-radius: 7px;
    
}

#shinchan-image {
   width: 207px;
    height: 237px;
    margin: 15px 10px;
    border-radius: 9px;
}

.color {
    color: blue;
    text-shadow: 1px 0px 1px black;
}